<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}">
</head>
<body class="d-flex flex-column h-100">
<div th:replace="~{fragments/navbar}">Navbar</div>
<main class="flex-shrink-0">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <main class="jumbotron text-center rounded col-md-12 align-self-center pt-5">
                <div class="justify-content-center">
                    <h1>User Details</h1>
                </div>
                <div class="row bg-light rounded">
                    <div class="col-md-6"><img src="/pic/user.png" height="350px"></div>
                    <div class="col-md-6 pt-3">
                        <h2>User</h2>
                        <h4 th:text="'Username: ' + ${userDetails.username}"></h4>
                        <h4 th:text="'Password: ' + ${userDetails.password}"></h4>
                        <h4 th:text="'FirstName: ' + ${userDetails.firstName}"></h4>
                        <h4 th:text="'LastName: ' + ${userDetails.lastName}"></h4>
                        <h4 th:text="'IsActive: ' + ${userDetails.isActive}"></h4>
                        <h4 th:text="'ImageUrl: ' + ${userDetails.imageUrl}"></h4>
                        <div class="align-bottom">
                            <form th:action="@{/users/delete/users/{id}(id=${userDetails.id})}" method="post">
                                <button type="submit" class="btn btn-danger align-bottom">Delete User</button>
                            </form>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</main>
<footer th:replace="~{fragments/footer}"/>
</body>
</html>

